/*General Styles*/
@font-face{
    font-family: 'ITC Souvenir';
    src: url('Souvenir-Medium.otf');
}
@font-face{
    font-family: 'Avenir LT Std';
    src: url('AvenirLTStd-Book.ttf');
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family:  'ITC Souvenir', sans-serif;
    font-size: 16px;
}

/*Register Style*/
.reg-header {
    width: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.reg-header{
    background-color:#001DA0;
}

.regcol-left h2{
    margin-top: 50px;
    font-family: ITC Souvenir;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 35px;
    text-align: center;
    color: white;
}
.regcol-left h2 span{
    color: #FFE01B;
}
.regcol-right{
    
}
.regform{
    display: flex;
    flex-direction:column;
    padding: 30px;
}
.regfield-group label{
    display:block;
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 19px;
    margin: 10px 0;
}
.regfield-group input{
    width: 100%;
    height: 1.8rem;
}
.regfield-group #regsubmit{
    background-color: #FFE01B;
    font-family: 'Avenir LT Std';
    font-style: normal;
    border: none;
    padding: 5px;
    width: 100%;
    height: 2rem;
    margin-top: 10px;
    font-weight: 750;
    font-size: 14px;
    line-height: 17px;
}
footer{
    margin-top: 7rem;
}
.attribution { font-size: 11px; text-align: center; bottom: -50%;}
.attribution a { color: hsl(228, 45%, 44%); }